<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Subir Producto
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div id="container">
   <div class="mainBodyContainer">
     <ion-item class="inputIonItem">
       <ion-label position="floating" >Nombre</ion-label>
       <ion-input [(ngModel)]="nombre"></ion-input>
     </ion-item>
     <ion-item class="inputIonItem">
       <ion-label position="floating">Descripción</ion-label>
       <ion-input [(ngModel)]="descripcion"></ion-input>
     </ion-item>
     <ion-item class="inputIonItem">
       <ion-input readonly>{{categoria}}</ion-input>
       <ion-button slot="end" fill="clear" (click)="showBasicPicker()" position="floating">Seleccionar</ion-button>
     </ion-item>
     <div class="specs">
       <div class="internalSpecs" *ngIf="categoria == 'Tecnología'">
         <ion-list class="inputIonItem" ngDefaultControl>
           <ion-radio-group [(ngModel)]="estado">
             <ion-label>Estado del producto</ion-label>
             <ion-item>
               <ion-label>Nuevo</ion-label>
               <ion-radio value="Nuevo"></ion-radio>
             </ion-item>
             <ion-item>
               <ion-label>Usado</ion-label>
               <ion-radio value="Usado"></ion-radio>
             </ion-item>
           </ion-radio-group>
         </ion-list>
       </div>
       <div class="internalSpecs" *ngIf="categoria == 'Hogar'">

       </div>
       <div class="internalSpecs" *ngIf="categoria == 'Inmobiliaria'">
         <ion-item class="inputIonItem">
           <ion-label position="floating">Metros cuadrados</ion-label>
           <ion-input type="number" [(ngModel)]="mCuadrados"></ion-input>
         </ion-item>
         <ion-item class="inputIonItem">
           <ion-label position="floating">Baños</ion-label>
           <ion-input [(ngModel)]="banyos"></ion-input>
         </ion-item>
         <ion-item class="inputIonItem">
           <ion-label position="floating">Habitaciones</ion-label>
           <ion-input [(ngModel)]="habitaciones" type="number"></ion-input>
         </ion-item>
         <ion-item class="inputIonItem">
           <ion-label position="floating">Localidad</ion-label>
           <ion-input [(ngModel)]="localidad" type="string"></ion-input>
         </ion-item>
       </div>
       <div class="internalSpecs" *ngIf="categoria == 'Motor'">
          <ion-list class="inputIonItem" ngDefaultControl>
            <ion-radio-group [(ngModel)]="tipoVehiculo">
              <ion-label>Tipo de vehiculo</ion-label>
              <ion-item>
                <ion-label>Coche</ion-label>
                <ion-radio value="Coche"></ion-radio>
              </ion-item>
              <ion-item>
                <ion-label>Moto</ion-label>
                <ion-radio value="Moto"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-list>
        <ion-item class="inputIonItem">
          <ion-label position="floating">Kilometros</ion-label>
          <ion-input type="number" [(ngModel)]="kilometros"></ion-input>
        </ion-item>
        <ion-item class="inputIonItem">
          <ion-label position="floating">Año</ion-label>
          <ion-datetime displayFormat="YYYY" [(ngModel)]="anyo"></ion-datetime>
        </ion-item>
       </div>
     </div>
     <ion-item class="inputIonItem">
       <ion-label position="floating">Precio</ion-label>
       <ion-input type="number" [(ngModel)]="precio"></ion-input>
     </ion-item>
     <ion-button expand="block" (click)="insertar()" class="ionSubmitBtn" color="secondary">Subir producto</ion-button>

   </div>

   <div class="productListContainer">
    <ion-card *ngFor="let item of productos" class="ionCardProduct">
      <h5>{{item.nombre}} ({{item.precio}}€)</h5>
      <ion-card-content>{{item.descripcion}}</ion-card-content>
      <ion-chip *ngIf="item.categoria == 'Tecnología'" color="secondary">
        <ion-icon name="hardware-chip-outline" color="secondary"></ion-icon>
        <ion-label color="secondary">{{item.categoria}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="item.categoria == 'Hogar'" color="success">
        <ion-icon name="home-outline" color="success"></ion-icon>
        <ion-label color="success">{{item.categoria}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="item.categoria == 'Motor'" color="danger">
        <ion-icon name="car-outline" color="danger"></ion-icon>
        <ion-label color="danger">{{item.categoria}}</ion-label>
      </ion-chip>
      <ion-chip *ngIf="item.categoria == 'Inmobiliaria'" color="warning">
        <ion-icon name="business-outline" color="warning"></ion-icon>
        <ion-label color="warning">{{item.categoria}}</ion-label>
      </ion-chip>
    </ion-card>
   </div>
  </div>

</ion-content>
