.ion-error {
  background-color: salmon;
  padding: 20px;
  border-radius: 15px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ion-card-detailed {
  padding: 15px;
}
