.productListContainer {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.ionCardProduct {
  width: 40%;
  max-width: 300px;
}

.ionCardProductTrigger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.ionCardProductTrigger:hover {
  background-color: white;
  opacity: 0.4;
}

.ion-button-like {
  width: 100%;
}
