<ion-header>
  <ion-toolbar>
    <ion-title>QuickTrade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-button class="ion-button-footer" [routerLink]="['/subir-producto/', username]" routerDirection="forward">
      <ion-icon slot="icon-only" name="add-circle-outline"></ion-icon>
    </ion-button>
    <ion-button class="ion-button-footer" [routerLink]="C" routerDirection="back">
      <ion-icon slot="icon-only" name="download-outline"></ion-icon>
    </ion-button>
    <ion-button class="ion-button-footer" routerLink="/ver-productos" routerDirection="back">
      <ion-icon slot="icon-only" name="list-circle-outline"></ion-icon>
    </ion-button>
    <ion-button class="ion-button-footer" [routerLink]="['/likes/', username]" routerDirection="back">
      <ion-icon slot="icon-only" name="heart-outline"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
